{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chardevi.css' %}">
</head>
<body style="background-image: url('{% static "images/devi2.jpeg" %}');">
    <center>
        <h1 class="btn btn-primary">I.DEVIPRASAD</h1>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script><br>
        <img src="{% static 'images/chennai express srk.jpg' %}" alt=""><br>
        <img src="{% static 'images/chennai express srk2.jpg' %}" alt=""><br>
        <img src="{% static 'images/chennai express srk3.jpg' %}" alt=""><br>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">CHENNAI EXPRESS</h4>
            <p>Chennai Express is a 2013 Indian Hindi-language action comedy film directed by Rohit Shetty and produced by UTV Motion Pictures and Red Chillies ...</p>
            <hr>
            <p class="mb-0">After directing several entertaining movies like Singham, Rohit Shetty is back with another entertainer- Chennai Express, which features Shahrukh Khan for the very first time in an action-comedy flick. And really,he has succeeded in his very first attempt.</p>
          </div><br>
          <button type="button" class="btn btn-primary">
            SHAH RUKH KHAN<span class="badge badge-light"></span>
            <span class="sr-only">unread messages</span><br>
            <button type="button" class="btn btn-primary">CHENNAI EXPRESS</button>
<button type="button" class="btn btn-success">SHAH RUKH KHAN</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">DEEPIKA PADUKONE</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button><br>
<div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-border text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div><br>
          </button>
    </center>
</body>
</html>